
body{
    color:#40514E ;
    margin: 0;
    text-align: center;
    font-family:'Merriweather',serif;
}

h1{
   font: size 5.62em;
   line-height: 2;
   margin: 50px auto 0 auto;
  font-family: Sacramento, cursive;
  color: #66BFBF;
   
}

h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5 rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
 
}


h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
    
}



.top-container{
    background-color: rgb(216, 247, 192);
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
 .bottom-container{
     background-color:#66BFBF;
     padding:50px 0 20px ;
 }


 .pro{
     text-decoration: underline;
 }

 .intro{
     width:30% ;
     margin: auto;
 }

 
 .contact-message{
     width:40% ;
     margin: 40px auto 60px ;

 }

 .copyright{
     color:turquoise;
     font-size: .75 rem;
     padding: 20px 0;
 }
 
 .bottom-cloud{
     position:absolute;
     top: 400px;
     left: 250px;
     height: 250px;
     
 }

  a{
   color: #11999E;
   font-family: 'Montserrat',sans-serif;
   margin: 10px 20px;
   text-decoration: none;
 }
 a:hover{
     color: blanchedalmond;
 }


 .mountain{
     height: 250px;
     width: 350px;
     position: relative;
 }

 .top-cloud{
     position:relative;
     left: 400px;
     height: 300px;
     top: 40px;
 }

 .hr{
     size: 5 rem;
     border-top: dotted;

    
 }

 .customer-service{
     width: 25%;
     float: right;
     margin-right: 30px;
 }

 .code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

 

 .skill-row{
     width: 50%;
     margin:100px auto 100px auto;
     text-align: left;
     line-height: 2;

 }

 .btn {
    background: #4bd677;
    background-image: -webkit-linear-gradient(top, #4bd677, #b8892b);
    background-image: -moz-linear-gradient(top, #4bd677, #b8892b);
    background-image: -ms-linear-gradient(top, #4bd677, #b8892b);
    background-image: -o-linear-gradient(top, #4bd677, #b8892b);
    background-image: linear-gradient(to bottom, #4bd677, #b8892b);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #0ddb3d;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }